@model IEnumerable<Category>
@{
	// Burada kategorileri listelicez

	foreach (var anaKategori in Model.Where(c => c.ParentID == 0))
	{
				<div class="dropdown">
  <a class=" dropdown-toggle nav-link text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    @anaKategori.Name
  </a>
  @*BOOTSTRAP'TEN YARARLANDIK, COMPONENT-DROPDOWNS-LINK*@
  <ul class="dropdown-menu">
  @foreach (var altKategori in Model.Where(c => c.ParentID == anaKategori.Id))
				{
					<li><a class="dropdown-item" href="/Categories/Index/@altKategori.Id">@altKategori.Name</a></li>
				}
    

  </ul>
</div>
	}
}
